/Status
/data
noBackup/
.idea
*.pro.user
*.pro.autosave
*.qml.autosave
*.log
.update.timestamp
.vscode
*.code-workspace
.tours
bin/
/bottles/
pkg/
vendor/.nimble
*.AppImage
tmp
nimcache
.DS_Store
nim-status-client*.tgz
node_modules
npm-debug.log*
npm-shrinkwrap.json
/package/
yarn-debug.log*
yarn-error.log*
yarn.lock
TODO
resources.rcc
ui/resources.qrc
status-react-translations/
/.update.timestamp
notarization.log
status-desktop.log
nim_status_client.log

# Squish test ================================================================

test/ui-test/testSuites/suite_status/config.xml
test/ui-test/testSuites/suite_status/envvars


# CPP app =====================================================================


# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache/

# QtCreator shadow builds (StatusQ/demo)
build-*/
# CMake default build directory
build/

# https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
