[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system.git
[submodule "vendor/DOtherSide"]
	path = vendor/DOtherSide
	url = https://github.com/status-im/DOtherSide.git
[submodule "vendor/nimqml"]
	path = vendor/nimqml
	url = https://github.com/status-im/nimqml.git
[submodule "vendor/uuids"]
	path = vendor/uuids
	url = https://github.com/pragmagic/uuids.git
[submodule "vendor/QR-Code-generator"]
	path = vendor/QR-Code-generator
	url = https://github.com/status-im/QR-Code-generator
[submodule "vendor/chroma"]
	path = vendor/chroma
	url = https://github.com/treeform/chroma
[submodule "vendor/nimPNG"]
	path = vendor/nimPNG
	url = https://github.com/jangko/nimPNG/
[submodule "vendor/nimage"]
	path = vendor/nimage
	url = https://github.com/Ethosa/nimage/
[submodule "vendor/nim-confutils"]
	path = vendor/nim-confutils
	url = https://github.com/status-im/nim-confutils.git
[submodule "ui/StatusQ"]
	path = ui/StatusQ
	url = https://github.com/status-im/StatusQ
[submodule "vendor/semver.nim"]
	path = vendor/semver.nim
	url = https://github.com/euantorano/semver.nim
[submodule "vendor/status-lib"]
	path = vendor/status-lib
	url = https://github.com/status-im/status-lib
[submodule "spellchecking"]
	path = spellchecking
	url = https://github.com/status-im/desktop-spellchecking.git

