[submodule "vendor/nim-stint"]
	path = vendor/nim-stint
	url = https://github.com/status-im/nim-stint
[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system
[submodule "vendor/nim-nat-traversal"]
	path = vendor/nim-nat-traversal
	url = https://github.com/status-im/nim-nat-traversal/
[submodule "vendor/nim-stew"]
	path = vendor/nim-stew
	url = https://github.com/status-im/nim-stew/
[submodule "vendor/status-go"]
	path = vendor/status-go
	url = https://github.com/status-im/status-go
[submodule "vendor/DOtherSide"]
	path = vendor/DOtherSide
	url = https://github.com/status-im/DOtherSide
[submodule "vendor/nimqml"]
	path = vendor/nimqml
	url = https://github.com/status-im/nimqml
[submodule "vendor/nim-chronicles"]
	path = vendor/nim-chronicles
	url = https://github.com/status-im/nim-chronicles
[submodule "vendor/nim-faststreams"]
	path = vendor/nim-faststreams
	url = https://github.com/status-im/nim-faststreams/
[submodule "vendor/nim-chronos"]
	path = vendor/nim-chronos
	url = https://github.com/status-im/nim-chronos
[submodule "vendor/nim-json-serialization"]
	path = vendor/nim-json-serialization
	url = https://github.com/status-im/nim-json-serialization
[submodule "vendor/nim-serialization"]
	path = vendor/nim-serialization
	url = https://github.com/status-im/nim-serialization/
[submodule "vendor/nimcrypto"]
	path = vendor/nimcrypto
	url = https://github.com/cheatfate/nimcrypto
[submodule "vendor/uuids"]
	path = vendor/uuids
	url = https://github.com/pragmagic/uuids
[submodule "vendor/isaac"]
	path = vendor/isaac
	url = https://github.com/pragmagic/isaac
[submodule "vendor/eventemitter"]
	path = vendor/eventemitter
	url = https://github.com/al-bimani/eventemitter
