[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system-desktop.git
	branch = desktop
[submodule "vendor/DOtherSide"]
	path = vendor/DOtherSide
	url = https://github.com/status-im/DOtherSide.git
[submodule "vendor/nimqml"]
	path = vendor/nimqml
	url = https://github.com/status-im/nimqml.git
[submodule "vendor/uuids"]
	path = vendor/uuids
	url = https://github.com/pragmagic/uuids.git
[submodule "vendor/QR-Code-generator"]
	path = vendor/QR-Code-generator
	url = https://github.com/status-im/QR-Code-generator
[submodule "vendor/chroma"]
	path = vendor/chroma
	url = https://github.com/treeform/chroma
[submodule "vendor/nimPNG"]
	path = vendor/nimPNG
	url = https://github.com/jangko/nimPNG/
[submodule "vendor/nimage"]
	path = vendor/nimage
	url = https://github.com/Ethosa/nimage/
[submodule "vendor/bearssl"]
	path = vendor/bearssl
	url = https://github.com/status-im/nim-bearssl
[submodule "vendor/nim-confutils"]
	path = vendor/nim-confutils
	url = https://github.com/status-im/nim-confutils.git
[submodule "vendor/semver.nim"]
	path = vendor/semver.nim
	url = https://github.com/euantorano/semver.nim
[submodule "spellchecking"]
	path = spellchecking
	url = https://github.com/status-im/desktop-spellchecking.git
[submodule "vendor/nim-result"]
	path = vendor/nim-result
	url = https://github.com/arnetheduck/nim-result
[submodule "vendor/edn.nim"]
	path = vendor/edn.nim
	url = https://github.com/status-im/edn.nim
[submodule "vendor/nim-faststreams"]
	path = vendor/nim-faststreams
	url = https://github.com/status-im/nim-faststreams.git
[submodule "vendor/nim-stew"]
	path = vendor/nim-stew
	url = https://github.com/status-im/nim-stew.git
[submodule "vendor/nim-task-runner"]
	path = vendor/nim-task-runner
	url = https://github.com/status-im/nim-task-runner.git
[submodule "vendor/nimcrypto"]
	path = vendor/nimcrypto
	url = https://github.com/cheatfate/nimcrypto.git
[submodule "vendor/nim-eth"]
	path = vendor/nim-eth
	url = https://github.com/status-im/nim-eth
[submodule "vendor/nim-libp2p"]
	path = vendor/nim-libp2p
	url = https://github.com/status-im/nim-libp2p
[submodule "vendor/nim-chronos"]
	path = vendor/nim-chronos
	url = https://github.com/status-im/nim-chronos.git
[submodule "vendor/isaac"]
	path = vendor/isaac
	url = https://github.com/pragmagic/isaac.git
[submodule "vendor/news"]
	path = vendor/news
	url = https://github.com/Tormund/news
[submodule "vendor/nim-bearssl"]
	path = vendor/nim-bearssl
	url = https://github.com/status-im/nim-bearssl
[submodule "vendor/nim-secp256k1"]
	path = vendor/nim-secp256k1
	url = https://github.com/status-im/nim-secp256k1
[submodule "vendor/nim-metrics"]
	path = vendor/nim-metrics
	url = https://github.com/status-im/nim-metrics
[submodule "vendor/nim-json-rpc"]
	path = vendor/nim-json-rpc
	url = https://github.com/status-im/nim-json-rpc
[submodule "vendor/nim-web3"]
	path = vendor/nim-web3
	url = https://github.com/status-im/nim-web3.git
[submodule "vendor/nim-chronicles"]
	path = vendor/nim-chronicles
	url = https://github.com/status-im/nim-chronicles.git
[submodule "vendor/nim-websock"]
	path = vendor/nim-websock
	url = https://github.com/status-im/nim-websock
[submodule "vendor/nim-http-utils"]
	path = vendor/nim-http-utils
	url = https://github.com/status-im/nim-http-utils
[submodule "vendor/nim-zlib"]
	path = vendor/nim-zlib
	url = https://github.com/status-im/nim-zlib
[submodule "vendor/nim-json-serialization"]
	path = vendor/nim-json-serialization
	url = https://github.com/status-im/nim-json-serialization.git
[submodule "vendor/nim-serialization"]
	path = vendor/nim-serialization
	url = https://github.com/status-im/nim-serialization.git
[submodule "vendor/fcitx5-qt"]
	path = vendor/fcitx5-qt
	url = https://github.com/fcitx/fcitx5-qt
[submodule "vendor/status-go"]
	path = vendor/status-go
	url = https://github.com/status-im/status-go
[submodule "vendor/nim-status-go"]
	path = vendor/nim-status-go
	url = https://github.com/status-im/nim-status-go.git
[submodule "vendor/nim-stint"]
	path = vendor/nim-stint
	url = https://github.com/status-im/nim-stint.git
[submodule "vendor/nim-keycard-go"]
	path = vendor/nim-keycard-go
	url = https://github.com/status-im/nim-keycard-go
[submodule "vendor/status-keycard-go"]
	path = vendor/status-keycard-go
	url = https://github.com/status-im/status-keycard-go.git
[submodule "vendor/SortFilterProxyModel"]
	path = ui/StatusQ/vendor/SortFilterProxyModel
	url = https://github.com/status-im/SortFilterProxyModel.git
