[submodule "vendors/OpenSSL-for-iPhone"]
	path = vendors/OpenSSL-for-iPhone
	url = https://github.com/x2on/OpenSSL-for-iPhone.git
[submodule "vendors/status-desktop"]
	path = vendors/status-desktop
	url = https://github.com/alexjba/status-desktop
