<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.device.camera</key>
	<true/>
	<!--
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:status.app</string>
	</array>
	-->

	<!-- Required by WalletConnect web SDK to run in WebView -->
	<key>com.apple.security.cs.allow-jit</key>
	<true/>
</dict>
</plist>
