<!-- Keep in sync with mock of: ui/app/AppLayouts/Wallet/views/walletconnect/sdk/src/index.html to avoid trying to load from app qrc -->
<!DOCTYPE html>
<html>
  <head>
    <script src="qrc:/StatusQ/Components/private/qwebchannel/qwebchannel.js" defer></script>
    <script src="qrc:/StatusQ/Components/private/qwebchannel/helpers.js" defer></script>
    <script src="../../../../../../../ui/app/AppLayouts/Wallet/views/walletconnect/sdk/generated/bundle.js" defer></script>
  </head>
  <body></body>
</html>
