Package: status-desktop
Version: 0.3.0-beta
Section: web
Priority: optional
Architecture: amd64
Maintainer: Status Research & Development GmbH
Depends: libqt5gui5, libqt5core5a, libqt5network5, libqt5qml5, libqt5quick5, libqt5svg5, libqt5webengine5, libqt5webenginecore5
Description: Desktop client for the Status Network
