pytest==7.4.0
psutil==5.9.5
pillow==10.0.0
opencv-python-headless==4.8.0.74
numpy~=1.25.1
pytesseract==0.3.10
atomacos==3.3.0; platform_system == "Darwin"
allure-pytest==2.13.2
pyperclip==1.8.2
pytest-rerunfailures==13.0
pytest-ignore-flaky==2.1.0
pytest-timeout==2.2.0
shortuuid==1.0.12
pluggy==1.2.0
beautifulsoup4==4.12.3
requests==2.32.4
mnemonic==0.21
zpywallet==0.6.2
web3==7.7.0